.cm-s-delta span.cm-meta { color: #808000; }
.cm-s-delta span.cm-number { color: #008000; }
.cm-s-delta span.cm-keyword { color: #004ecc; }
.cm-s-delta span.cm-atom { color: #004ecc; }
.cm-s-delta span.cm-def { color: #000000; }
.cm-s-delta span.cm-variable { color: black; }
.cm-s-delta span.cm-variable-2 { color: black; }
.cm-s-delta span.cm-variable-3, .cm-s-delta span.cm-type { color: black; }
.cm-s-delta span.cm-property { color: black; }
.cm-s-delta span.cm-operator { color: black; }
.cm-s-delta span.cm-comment { color: #808080; }
.cm-s-delta span.cm-string { color: #008000; }
.cm-s-delta span.cm-string-2 { color: #008000; }
.cm-s-delta span.cm-qualifier { color: #555; }
.cm-s-delta span.cm-error { color: #FF0000; }
.cm-s-delta span.cm-attribute { color: #004ecc; }
.cm-s-delta span.cm-tag { color: #000080; }
.cm-s-delta span.cm-link { color: #004ecc; }
.cm-s-delta .CodeMirror-activeline-background { background: #FFFAE3; }

.cm-s-delta span.cm-builtin { color: #30a; }
.cm-s-delta span.cm-bracket { color: #cc7; }


.cm-s-delta .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

.CodeMirror-hints.delta {
  color: #616569;
  background-color: #ebf3fd !important;
}

.CodeMirror-hints.delta .CodeMirror-hint-active {
  background-color: #a2b8c9 !important;
  color: #5c6065 !important;
}
