:root {
    --background-color: #fff;
    --background-color-2: #f9f9fb;
    --background-color-3: hsla(0, 0%, 0%, 0.1);
    --text-color: #333;
    --text-color-subtle: hsla(240, 100%, 5%, 0.4);
    --blue: hsl(216, 74%, 46%);
    --string-color: #008000;
    --number-color: #a31515;
    --error-background-color: #fdd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: hsl(220, 5%, 8%);
        --background-color-2: hsla(0, 0%, 100%, 0.03);
        --background-color-3: hsla(0, 0%, 100%, 0.1);
        --text-color: #e2e4e9;
        --text-color-subtle: hsla(243, 65%, 93%, 0.36);
        --blue: hsl(213, 60%, 58%);
        --string-color: hsl(0, 58%, 70%);
        --number-color: #b5cea8;
        --error-background-color: #ff00007a;
    }
}

* {
    box-sizing: border-box;
}

html {
    margin-left: calc(100vw - 100%);
    background: var(--background-color);
    color: var(--text-color);
}

body {
    position: relative;
    max-width: 800px;
    margin: 0 auto 100px auto;
    padding: 20px;
    box-sizing: content-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
}

h1 {
    margin-top: 30px;
}

a, a:visited {
    text-decoration: none;
    color: var(--blue);
}

a:hover {
    text-decoration: underline;
}

a.active {
    font-weight: bold;
    color: unset;
}

ul {
    margin: 0;
}

hr {
    border: none;
    border-top: 1px solid var(--background-color-3);
    margin: 30px 0;
}

pre, code, .sourceCode {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace !important;
}

:not(pre) > code {
    font-size: 92%;
}

.sourceCode, pre code {
    font-size: 14px;
    line-height: 1.6;
}

pre {
    padding: 10px 15px;
}

pre, .editor {
    background: var(--background-color-2);
    border-radius: 2px;
}

.top-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--background-color-3);
    padding: 30px 0;
}

.top-nav h1 {
    font-weight: 900;
    font-family: Arial Black, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Arial, sans-serif;
    font-size: 2.5em;
    line-height: 1;
    margin: 0;
    margin-right: 15px;
}

.top-nav h1 a {
    color: unset;
    text-decoration: unset;
}

.links {
    white-space: nowrap;
}

@media screen and (min-width: 360px) {
    .top-nav {
        grid-template-columns: max-content auto;
        grid-template-rows: none;
    }

    .links {
        text-align: right;
        margin-top: 0;
    }
}

.links a + a {
    margin-left: 15px;
}

.side-nav {
    margin: 30px 0;
    padding: 0 30px 0 20px;
    white-space: nowrap;
}

.side-nav > ul {
    padding: 0;
    list-style-type: none;
}

@media screen and (min-width: 1300px) {
    .side-nav {
        width: 250px;
        position: absolute;
        margin-left: -250px;
    }
}

section {
    margin: 30px 0;
}

.features {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin: 30px 0;
}

@media screen and (min-width: 768px) {
    .features {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

h4 {
    margin-top: 0;
    margin-bottom: 3px;
}

.block {
    margin: 0;
}

.block p {
    margin: 0;
}

.block.wide {
    grid-column: 1 / -1;
}

button {
    border: none;
    border-radius: 2px;
    background: var(--background-color-2);
    color: inherit;
    padding: 0 15px;
    height: 30px;
    cursor: pointer;
}

button:hover {
    background: var(--background-color-3);
}

button:focus {
    outline: none;
}

.editor {
    tab-size: 4;
}

.CodeMirror {
    background: unset !important;
    color: var(--text-color-subtle);
    height: auto;
    width: 100%;
}

.CodeMirror-lines {
    padding: 10px 0 !important;
}

.CodeMirror-line,
.CodeMirror-linewidget .error {
    padding: 0 15px !important;
}

.error {
    background-color: var(--error-background-color);
    color: var(--text-color);
    padding: 0 4px;
    white-space: pre-wrap;
}

button.run {
    position: absolute;
    right: 0;
    margin: -40px 30px -40px -40px;
    z-index: 10;
    color: var(--text-color-subtle);
}

button.run:hover {
    background: none;
    color: var(--text-color);
}

.output {
    display: none;
    width: 100%;
    padding: 10px 15px;
    border-top: 1px solid var(--background-color-3);
    white-space: pre-wrap;
    overflow: auto;
}

.stderr {
    color: red;
}

.bottom-links {
    text-align: center;
}

.bottom-links a + a {
    margin-left: 30px;
}
